[Unit]
Description=Slurm DBD accounting daemon
After=network-online.target remote-fs.target munge.service
Before=slurmctld.service
Wants=network-online.target
ConditionPathExists=/etc/slurm/slurmdbd.conf

[Service]
Type=simple
User=slurm
Group=slurm
RuntimeDirectory=slurmdbd
RuntimeDirectoryMode=0755
ExecStart=/opt/slurm/current/sbin/slurmdbd -D -s
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
TasksMax=infinity

[Install]
WantedBy=multi-user.target
