---
####### Remove Slurm installed from repository ############
- name: Remove Slurm (repository install)
  vars_files: group_vars/cluster_params.yml
  become: yes
  hosts: all
  tags: slurm_remove

  tasks:
    - name: Stop Slurm services
      ansible.builtin.systemd:
        name: "{{ item }}"
        state: stopped
        enabled: no
      with_items:
        - slurmctld
        - slurmdbd
        - slurmd
      ignore_errors: yes

    - name: Uninstall Slurm packages
      ansible.builtin.dnf:
        name:
          - slurm-{{ slurm_vers }}
          - slurm-slurmctld
          - slurm-slurmdbd
          - slurm-slurmd
          - slurm-perlapi
          - slurm-libpmi
          - slurm-devel
          - slurm-example-configs
          - slurm-libs
          - pmix
        state: absent
      ignore_errors: yes

    - name: Remove Slurm repository
      ansible.builtin.yum_repository:
        name: slurm
        state: absent

    - name: Remove Slurm configuration files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      with_items:
        - /etc/slurm
        - /etc/munge
        - /var/log/slurm
        - /var/spool/slurmd
        - /var/spool/slurm
        - /var/spool/slurmctld
        - /opt/slurm-rpms
      ignore_errors: yes

    - name: Clean dnf cache
      ansible.builtin.command:
        cmd: dnf clean all
      ignore_errors: yes
